/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "IRANSansWeb";
  src: url("assets/fonts/IRANSansWeb\(FaNum\).ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "IRANSansWeb";
  src: url("assets/fonts/IRANSansWeb\(FaNum\)_Bold.ttf") format("truetype");
  font-weight: bold;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: iransansweb, Roboto, "Helvetica Neue", sans-serif;
  & *{
  font-family: iransansweb, Roboto, "Helvetica Neue", sans-serif;

  }
}
.mat-h1, .mat-headline, .mat-typography h1 {
  font-family: iransansweb, Roboto, "Helvetica Neue", sans-serif;
}
.mat-card{
  font-family: iransansweb, Roboto, "Helvetica Neue", sans-serif;
}
